html
{
	overflow-y: scroll;
}
body
{
	color: #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(bg.png);
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
fieldset {
  border: 1px solid #5a94cc;
}
pre {
  background-color: #FFFFFF;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #5a94cc;
}
.tabs {
  margin: 15px 0 15px 0;
}
.tabs ul.primary {
  border-collapse: collapse;
  padding: 0 0 3px 10px;
  white-space: nowrap;
  list-style: none;
  margin: 0 0 0 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #9dc4e9;
}
.tabs ul.primary li {
  display: inline;
}
.tabs ul.primary li a {
  padding: 3px 10px 3px 10px;
  border-color: #9dc4e9;
  border-width: 1px;
  border-style: none solid none none;
  height: auto;
  margin-right: 10px;
  text-decoration: none;
  text-transform: lowercase;
}
.tabs ul.primary li.active a {
  background-color: #7bacdb;
  color: #fff;
}
.tabs ul.primary li a:hover {
  background-color: #fff;
  color: #7bacdb;
}
.tabs ul.secondary {
  border-collapse: collapse;
  padding: 10px 0 10px 0;
  margin: 0 0 0 0;
  white-space: nowrap;
  width: 100%;
  list-style: none;
  height: auto;
  line-height: normal;
  border-bottom: none;
}
.tabs ul.secondary li {
  display: inline;
  height: auto;
  padding: 0 0 0 10px;
  text-decoration: none;
  border-right: none;
}
.tabs ul.secondary li a {
  padding: 10px 0 10px 25px;
  margin: 0 0 0 0;
}
.tabs ul.secondary li a.active {
  background-color: #fff;
  color: #FF4500;
  border-bottom: none;
}
.tabs ul.secondary li a:hover {
  background-color: #FF4500;
  color: #fff;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 14px;
  vertical-align: middle;
  background-color: #7bacdb;
}
#search .form-text {
  width: 200px;
}
#sidebar-left, #sidebar-right {
  width: 150px;
  padding: 10px;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
#main {
  padding: 10px;
}
.breadcrumb {
  margin-bottom: .5em;
}
.breadcrumb a {
  color: white;
}

.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #000000;
  margin: 0 auto 0 auto; 
}
.submitted {
  color: #000000;
  font-size: 0.8em;
}
.links {
  color: #000000;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 14px;
  font-weight: bold;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #5a94cc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
  background-color: white;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: white;
}
#forum td.topics, #forum td.last-reply {
  background-color: white;
}
#forum td.container {
  background-color: white;
}
#forum td.container a {
  color: #000000;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #FFFFFF;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}